<!DOCTYPE HTML>
<html>
<head>
  <title>CHUB MICROSERVICE</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <style>

      .btn {
        background-color: #ff1481 !important;
        border-color: #ff1481 !important;
        background-image: unset !important;

        filter: unset !important;

        text-transform: uppercase;
      }
      .btn:hover {
        color: #fff !important;
        box-shadow: 0px 10px 30px rgba(190, 0, 88, 0.5);
      }
  </style>
</head>
<body>
  <div style="margin:20px auto; max-width: 1200px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <!-- <a class="navbar-brand" href="/">Nodejs Demo</a> -->
    <ul class="nav navbar-nav">
      <li class="">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/api_list">API Calls</a>
      </li>
    </ul>
  </div>
</nav>
  <div class="jumbotron"  style="padding:40px;">
    <div class="container">
